#######################################################################################
# Copyright ETSI Contributors and Others.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#######################################################################################
annotated-types==0.7.0
    # via pydantic
anyio==4.8.0
    # via starlette
certifi==2025.1.31
    # via requests
charset-normalizer==3.4.1
    # via requests
click==8.1.8
    # via uvicorn
exceptiongroup==1.2.2
    # via anyio
fastapi==0.115.11
    # via -r osm_webhook_translator/requirements.in
h11==0.14.0
    # via uvicorn
idna==3.10
    # via
    #   anyio
    #   requests
pydantic==2.10.6
    # via fastapi
pydantic-core==2.27.2
    # via pydantic
requests==2.32.3
    # via -r osm_webhook_translator/requirements.in
sniffio==1.3.1
    # via anyio
starlette==0.46.1
    # via fastapi
typing-extensions==4.12.2
    # via
    #   anyio
    #   fastapi
    #   pydantic
    #   pydantic-core
    #   uvicorn
urllib3==2.3.0
    # via requests
uvicorn==0.34.0
    # via -r osm_webhook_translator/requirements.in
